<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589577671078-liaq9ko4hmrpouk05q9klja93tpflada.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589577671078-liaq9ko4hmrpouk05q9klja93tpflada</string>
	<key>API_KEY</key>
	<string>AIzaSyD5aKF9CUr_91khNWa1gQOgShYfbklUkmI</string>
	<key>GCM_SENDER_ID</key>
	<string>589577671078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Test.myFirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>myiosapp-a444b</string>
	<key>STORAGE_BUCKET</key>
	<string>myiosapp-a444b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589577671078:ios:59155d306c5375f1623f67</string>
</dict>
</plist>